<div class="container-fluid">
  <div class="row">
      <div class="col mb-2">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Channel</th>
              <th scope="col">Seasons</th>
            </tr>
          </thead>
          <tbody *ngFor="let serie of series">
            <tr>
              <th scope="row">{{serie.id}}</th>
              <td>{{serie.name}}</td>
              <td>{{serie.channel}}</td>
              <td>{{serie.seasons}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">Seasons Average: {{averageSeasons}} </div>
      </div>
  </div>
</div>

